In [22]:
import pandas as pd
import random

In [23]:
df = pd.read_csv('E0.csv')

In [24]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,...,2.31,22,-1.50,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,E0,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,...,2.95,21,-2.00,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,E0,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,...,2.29,22,-1.50,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,E0,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,...,2.07,19,-0.50,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,E0,12/05/2019,Watford,West Ham,1,4,A,0,2,A,...,2.44,19,-0.50,2.25,2.19,1.78,1.72,2.11,3.86,3.41

In [25]:
df = df.drop(['Div', 'Date', 'HTR', 'HTHG', 'HTAG', 'Referee'], axis=1)

In [26]:
df = df.iloc[:, :-39]

In [27]:
df

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Man United,Leicester,2,1,H,8,13,6,4,11,8,2,5,2,1,0,0
1,Bournemouth,Cardiff,2,0,H,12,10,4,1,11,9,7,4,1,1,0,0
2,Fulham,Crystal Palace,0,2,A,15,10,6,9,9,11,5,5,1,2,0,0
3,Huddersfield,Chelsea,0,3,A,6,13,1,4,9,8,2,5,2,1,0,0
4,Newcastle,Tottenham,1,2,A,15,15,2,5,11,12,3,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Wolves,2,0,H,13,7,5,2,3,11,4,1,0,2,0,0
376,Man United,Cardiff,0,2,A,26,13,10,4,9,6,11,2,3,3,0,0
377,Southampton,Huddersfield,1,1,D,10,10,3,3,8,6,4,3,0,1,0,0
378,Tottenham,Everton,2,2,D,11,17,3,9,10,13,7,4,0,2,0,0
379,Watford,West Ham,1,4,A,17,16,8,9,10,10,7,2,1,0,1,0

In [28]:
#Selecionando as rodadas de treinamento e teste
training = df.iloc[:-10]
test = df.iloc[-10:]

In [29]:
# Embaralhar os dados de treinamento
# Embaralhar os dados de teste
training = training.sample(frac=1)
test = test.sample(frac=1)

In [30]:
# Separar as colunas dos nomes dos times
# Salvar em uma variável separada
nomes = df[['HomeTeam', 'AwayTeam']]
nomes

         HomeTeam        AwayTeam
0      Man United       Leicester
1     Bournemouth         Cardiff
2          Fulham  Crystal Palace
3    Huddersfield         Chelsea
4       Newcastle       Tottenham
..            ...             ...
375     Liverpool          Wolves
376    Man United         Cardiff
377   Southampton    Huddersfield
378     Tottenham         Everton
379       Watford        West Ham

[380 rows x 2 columns]

In [31]:
dfv1 = df.iloc[:, 2:]

In [32]:
dfv1

     FTHG  FTAG FTR  HS  AS  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       2     1   H   8  13    6    4  11   8   2   5   2   1   0   0
1       2     0   H  12  10    4    1  11   9   7   4   1   1   0   0
2       0     2   A  15  10    6    9   9  11   5   5   1   2   0   0
3       0     3   A   6  13    1    4   9   8   2   5   2   1   0   0
4       1     2   A  15  15    2    5  11  12   3   5   2   2   0   0
..    ...   ...  ..  ..  ..  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     2     0   H  13   7    5    2   3  11   4   1   0   2   0   0
376     0     2   A  26  13   10    4   9   6  11   2   3   3   0   0
377     1     1   D  10  10    3    3   8   6   4   3   0   1   0   0
378     2     2   D  11  17    3    9  10  13   7   4   0   2   0   0
379     1     4   A  17  16    8    9  10  10   7   2   1   0   1   0

[380 rows x 15 columns]

In [33]:
# Converter a coluna FTR em 1 (vitória do Home), 0 (draw), -1 (vitória do Away)
dfv2 = dfv1.replace({"H":1,"D":0,"A":-1})
# Remover (drop) nas colunas FTHG, FTAG
dfv3 = dfv2.iloc[:, 2:]
# A coluna do FTR (já convertida em 1,0,-1) você vai separar em uma DF novo (saída da rede neural)
NN = dfv3[['FTR']]
# Separar o DF em input e output. Input são as estatísticas. Output é a coluna FTR convertida em 1,0,-1.
input = dfv3.iloc[:, 1:]
output = NN

#Normalização de dados
for e in range(len(input.columns)): 
    max = input.iloc[:, e].max() #checar o valor maximo de cada coluna
    if max < 10:
        input.iloc[:, e] /= 10
    elif max < 100:
        input.iloc[:, e] /= 100
    else:
        print("Error in normalization! Please check!")
input

C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dfv2 = dfv1.replace({"H":1,"D":0,"A":-1})
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.08
1      0.12
2      0.15
3      0.06
4      0.15
       ...
375    0.13
376    0.26
377    0.10
378    0.11
379    0.17
Name: HS, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.13
1      0.10
2      0.10
3      0.13
4      0.15
       ...
375    0.07
376    0.13
377    0.10
378    0.17
379    0.16
Name: AS, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.06
1      0.04
2      0.06
3      0.01
4      0.02
       ...
375    0.05
376    0.10
377    0.03
378    0.03
379    0.08
Name: HST, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.04
1      0.01
2      0.09
3      0.04
4      0.05
       ...
375    0.02
376    0.04
377    0.03
378    0.09
379    0.09
Name: AST, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.11
1      0.11
2      0.09
3      0.09
4      0.11
       ...
375    0.03
376    0.09
377    0.08
378    0.10
379    0.10
Name: HF, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.08
1      0.09
2      0.11
3      0.08
4      0.12
       ...
375    0.11
376    0.06
377    0.06
378    0.13
379    0.10
Name: AF, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.02
1      0.07
2      0.05
3      0.02
4      0.03
       ...
375    0.04
376    0.11
377    0.04
378    0.07
379    0.07
Name: HC, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.05
1      0.04
2      0.05
3      0.05
4      0.05
       ...
375    0.01
376    0.02
377    0.03
378    0.04
379    0.02
Name: AC, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 100
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.2
1      0.1
2      0.1
3      0.2
4      0.2
      ...
375    0.0
376    0.3
377    0.0
378    0.0
379    0.1
Name: HY, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 10
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.1
1      0.1
2      0.2
3      0.1
4      0.2
      ...
375    0.2
376    0.3
377    0.1
378    0.2
379    0.0
Name: AY, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 10
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
375    0.0
376    0.0
377    0.0
378    0.0
379    0.1
Name: HR, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 10
C:\Users\polie\AppData\Local\Temp\ipykernel_10852\1621818042.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
375    0.0
376    0.0
377    0.0
378    0.0
379    0.0
Name: AR, Length: 380, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  input.iloc[:, e] /= 10

       HS    AS   HST   AST    HF    AF    HC    AC   HY   AY   HR   AR
0    0.08  0.13  0.06  0.04  0.11  0.08  0.02  0.05  0.2  0.1  0.0  0.0
1    0.12  0.10  0.04  0.01  0.11  0.09  0.07  0.04  0.1  0.1  0.0  0.0
2    0.15  0.10  0.06  0.09  0.09  0.11  0.05  0.05  0.1  0.2  0.0  0.0
3    0.06  0.13  0.01  0.04  0.09  0.08  0.02  0.05  0.2  0.1  0.0  0.0
4    0.15  0.15  0.02  0.05  0.11  0.12  0.03  0.05  0.2  0.2  0.0  0.0
..    ...   ...   ...   ...   ...   ...   ...   ...  ...  ...  ...  ...
375  0.13  0.07  0.05  0.02  0.03  0.11  0.04  0.01  0.0  0.2  0.0  0.0
376  0.26  0.13  0.10  0.04  0.09  0.06  0.11  0.02  0.3  0.3  0.0  0.0
377  0.10  0.10  0.03  0.03  0.08  0.06  0.04  0.03  0.0  0.1  0.0  0.0
378  0.11  0.17  0.03  0.09  0.10  0.13  0.07  0.04  0.0  0.2  0.0  0.0
379  0.17  0.16  0.08  0.09  0.10  0.10  0.07  0.02  0.1  0.0  0.1  0.0

[380 rows x 12 columns]

In [34]:
# Imprimir os conjuntos (são 4 conjuntos)
# Input de treinamento (são 12 colunas normalizadas entre 0 e 1) (são 370 linhas - 37 rodadas com 10 jogos cada) (370linhasx12colunas)
training_input = input[:-10]
# Output de treinamento (é uma coluna só com valores 1, 0 ou -1) (são 370 linhas - 37 rodadas com 10 jogos cada) (370linhasx01coluna)
training_output= output[:-10]
# Input de teste (são 12 colunas normalizadas entre 0 e 1) (são 10 linhas - 1 rodada) (10linhasx12colunas)
test_input = input[-10:]
# Output de teste (é uma coluna só com valores 1, 0 ou -1) (são 10 linhas - 1 rodada) (10linhasx01coluna)
test_output = output[-10:]

In [35]:
#Nomes dos times
nomes_training = nomes[:-10]
nomes_test = nomes[-10:]
print(nomes_training)
print(nomes_test)

         HomeTeam        AwayTeam
0      Man United       Leicester
1     Bournemouth         Cardiff
2          Fulham  Crystal Palace
3    Huddersfield         Chelsea
4       Newcastle       Tottenham
..            ...             ...
365        Wolves          Fulham
366       Arsenal        Brighton
367       Chelsea         Watford
368  Huddersfield      Man United
369      Man City       Leicester

[370 rows x 2 columns]
           HomeTeam      AwayTeam
370        Brighton      Man City
371         Burnley       Arsenal
372  Crystal Palace   Bournemouth
373          Fulham     Newcastle
374       Leicester       Chelsea
375       Liverpool        Wolves
376      Man United       Cardiff
377     Southampton  Huddersfield
378       Tottenham       Everton
379         Watford      West Ham

In [36]:
#Embaralhar os dados de treino
rs = random.randint(1,99)
training_input = training_input.sample(frac=1, random_state=rs)
training_output = training_output.sample(frac=1, random_state=rs)
nomes_training = nomes_training.sample(frac=1, random_state=rs)

In [37]:
#Parte 2
from sklearn.model_selection import RandomizedSearchCV
from scikeras.wrappers import KerasClassifier
import torch

# 1. Crie uma função que retorna o seu modelo Keras compilado
def create_model(optimizer='adam', neurons=12):
    # Cole aqui a definição da sua rede neural
    # Exemplo:
    model = Sequential()
    model.add(Dense(neurons, input_dim=12, activation='relu'))
    model.add(Dense(1, activation='tanh')) # Usando 'tanh' para saída entre -1 e 1
    
    model.compile(loss='mean_squared_error', optimizer=optimizer, metrics=['accuracy'])
    return model

# 2. Crie um KerasClassifier
model = KerasClassifier(build_fn=create_model, verbose=0)

# 3. Defina os hiperparâmetros que você quer testar
param_dist = {
    'optimizer': ['adam', 'rmsprop'],
    'batch_size': [10, 20, 30],
    'epochs': [50, 100, 150],
    'neurons': [8, 12, 16]
}
class Net(torch.nn.Module):
    def __init__(self, input_size, hidden_size):
        super(Net, self).__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.fc1 = torch.nn.Linear(self.input_size, self.hidden_size)
        self.relu = torch.nn.ReLU()
        self.fc2 = torch.nn.Linear(self.hidden_size, 1)
        self.Tanh = torch.nn.Tanh() 
    def forward(self, x):
        hidden = self.fc1(x)
        relu = self.relu(hidden)
        output = self.fc2(relu)
        output = self.Tanh(output)
        return output

ModuleNotFoundError: No module named 'torch'

In [4]:
#convert to tensors
training_input = torch.FloatTensor(training_input.values)
training_output = torch.FloatTensor(training_output.values)
test_input = torch.FloatTensor(test_input.values)
test_output = torch.FloatTensor(test_output.values)

NameError: name 'torch' is not defined

In [3]:
input_size = training_input.size()[1] 
hidden_size = 500 
model = Net(input_size, hidden_size) 
criterion = torch.nn.MSELoss()  
optimizer = torch.optim.SGD(model.parameters(), lr = 0.75, momentum=0.35)

NameError: name 'training_input' is not defined

In [2]:
model.eval()
y_pred = model(test_input)
before_train = criterion(y_pred.squeeze(), test_output.squeeze())
print('Test loss before training' , before_train.item())

NameError: name 'model' is not defined

In [ ]:
model.train()
epochs = 500
errors = []
for epoch in range(epochs):
    optimizer.zero_grad()
    # Forward pass
    y_pred = model(training_input)
    # Compute Loss
    loss = criterion(y_pred.squeeze(), training_output.squeeze())
    errors.append(loss.item())
    if epoch % 2000 == 0:
      print('Epoch {}: train loss: {}'.format(epoch, loss.item()))
    # Backward pass
    loss.backward()
    optimizer.step()

In [ ]:
model.eval()
y_pred = model(test_input)
after_train = criterion(y_pred.squeeze(), test_output.squeeze())
print('Test loss after Training' , after_train.item())

In [1]:
import matplotlib.pyplot as plt
import numpy as np
def plotcharts(errors):
    errors = np.array(errors)
    plt.figure(figsize=(12, 5))
    graf02 = plt.subplot(1, 2, 1) # nrows, ncols, index
    graf02.set_title('Errors')
    plt.plot(errors, '-')
    plt.xlabel('Epochs')
    graf03 = plt.subplot(1, 2, 2)
    graf03.set_title('Tests')
    a = plt.plot(test_output.numpy(), 'yo', label='Real')
    plt.setp(a, markersize=10)
    a = plt.plot(y_pred.detach().numpy(), 'b+', label='Predicted')
    plt.setp(a, markersize=10)
    xx = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    for x, home, away in zip(xx, nomes_test['HomeTeam'], nomes_test['AwayTeam']):
      plt.text(x, 1.3, home, rotation='vertical')
      plt.text(x, -1.3, away, rotation='vertical', verticalalignment='top')
    plt.legend(loc=0)
    plt.show()
plotcharts(errors)

NameError: name 'errors' is not defined